/*Estilo para tablets*/
@media only screen and (min-width: 788px) and (max-width: 979px) {
  .qualidade::after {
    right: 67px;
  }
  .qualidade-lista li {
    padding: 0 10px;
  }

  .footer-redes ul li a {
    padding: 6px;
  }

  .footer-redes ul li a img {
    width: 26px;
    height: 26px;
  }

  /*produtos*/
  .produto-item h2 {
    top: -150px;
  }

  .produto-icone {
    padding: 41px 0;
  }

  .produto-info p {
    font-size: 14px;
    height: 122px;
    line-height: 20px;
    padding: 20px 30px;
  }

  .produto-info ul li {
    width: 181px;
  }
}

/*Estilo para smartphone*/
@media only screen and (max-width: 787px) {
  .header {
    padding-bottom: 0;
    position: relative;
  }
  .header img {
    margin: 0 auto 20px auto;
  }

  .header_menu {
    text-align: center;
  }

  .header_menu ul li {
    margin: 0;
  }

  .header_menu ul li a {
    border: 4px solid #000;
    display: block;
    float: left;
    width: 140px;
  }
  .header_menu ul li a:hover {
    background: #000;
  }

  .introducao {
    background: url("../img/bg-home-mobile.jpg") no repeat center;
    background-size: cover;
    margin-top: 0;
    padding-top: 50px;
  }
  .introducao h1 {
    font-size: 36px;
  }

  .introducao-interna {
    margin-top: 0;
  }

  .qualidade::after {
    display: none;
  }

  .header_menu ul li a.menu-ativo {
    background-color: #000;
  }

  .missao-sobre p {
    font-size: 14px;
    line-height: 25px;
    padding-right: 0;
  }

  .missao-sobre ul li {
    font-size: 14px;
    line-height: 30px;
  }

  /*produtos*/
  .produto-item h2 {
    top: -105px;
    margin-bottom: -68px;
  }

  .produto-icone {
    padding: 41px 0;
  }

  .produto-info p {
    font-size: 14px;
    height: auto;
    line-height: 20px;
    padding: 20px 30px;
  }

  .produto-info ul li {
    font-size: 14px;
    line-height: 20px;
    width: 149px;
  }

  .form {
    padding: 0;
  }

  .orcamento-dados ul {
    padding: 0;
  }

  .contato-form,
  .contato-dados {
    padding: 0;
  }
  .contato-dados ul li {
    padding: 0;
  }
}
