/*Estilos Gerais*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  color: #fec63e;
  border: 3px solid #fec63e;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 20px;
  padding: 10px 30px;
  text-transform: uppercase;
}

.btn:hover {
  background: #fec63e;
  color: #fff;
}

.subtitulo {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 30px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.subtitulo::after {
  background: #000;
  content: "";
  display: block;
  height: 3px;
  margin: 8px auto;
  width: 60px;
}

.subtitulo-interno {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 30px;
  margin-bottom: 20px;
  text-align: left;
  text-transform: uppercase;
}

.subtitulo-interno::after {
  background: #000;
  content: "";
  display: block;
  height: 3px;
  margin: 8px 0;
  width: 60px;
}

/*Header*/
.header {
  background: #fec63e;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header_menu {
  text-align: right;
}
.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.header_menu ul li a {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 20px;
  text-transform: uppercase;
  padding: 10px 5px;
}

.header_menu ul li a:hover {
  color: #fff;
}

.header_menu ul li a.menu-ativo {
  color: #fff;
}

/*Introdução*/

.introducao {
  background: url("../img/bg-home.jpg") no-repeat center;
  background-size: cover;
  height: 380px;
  margin-top: 92px;
  padding-top: 80px;
  text-align: center;
  width: 100%;
}

.introducao h1 {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

.quote-externo {
  color: #fff;
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 320px;
}

.quote-externo p {
  font-style: italic;
}

.quote-externo p::before,
.quote-externo p::after {
  background: #fff;
  content: "";
  display: block;
  height: 3px;
  margin: 14px auto 10px auto;
  width: 60px;
}

.quote-externo cite {
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/*Introdução interna*/
.introducao-interna {
  background-size: cover;
  color: #fff;
  height: 160px;
  margin-top: 92px;
  padding-top: 35px;
  text-align: center;
  width: 100%;
}

.introducao-interna h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.introducao-interna h1::after {
  background: #fff;
  content: "";
  display: block;
  height: 3px;
  margin: 6px auto 10px auto;
  width: 60px;
}

/*Produtos*/

.produtos {
  padding: 60px 0;
  text-align: center;
}

.produtos-lista li {
  background: #fec63e;
}

.produtos-lista li h3 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 25px;
  margin-top: 10px;
  text-transform: uppercase;
}

.produtos-lista li h3::after {
  background: #000;
  content: "";
  display: block;
  height: 3px;
  margin: 2px auto;
  width: 60px;
}

.produtos-lista li p {
  padding: 10px 20px 20px 20px;
}

.produtos-icone {
  background: #000;
  padding: 20px;
}

.produtos-icone img {
  display: inline;
}

.cta {
  clear: both;
  padding-top: 40px;
  text-align: center;
}

.cta p {
  margin-bottom: 30px;
}

/*Portfolio*/

.portfolio {
  background: #000;
  padding: 60px 0;
  width: 100%;
}
.portfolio .subtitulo {
  color: #fec63e;
}
.portfolio .subtitulo::after {
  background: #fec63e;
}
.portfolio .cta p {
  color: #fff;
}
.portfolio-lista li:last-child {
  margin-top: 20px;
}
.qualidade {
  padding: 60px 0;
}
.qualidade img {
  margin: 0 auto;
}

.qualidade::after {
  background: url("../img/linhas.svg") no-repeat center;
  content: "";
  display: block;
  height: 83px;
  position: absolute;
  top: 209px;
  right: 163px;
  width: 634px;
  z-index: -1;
}

.qualidade-lista {
  overflow: auto;
  padding-top: 20px;
}

.qualidade-lista li {
  padding: 0 40px;
  text-align: center;
}
.qualidade-lista li h3 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 25px;
  margin-top: 30px;
  text-transform: uppercase;
}

.qualidade-lista li h3::after {
  background: #000;
  content: "";
  display: block;
  height: 3px;
  margin: 6px auto;
  width: 60px;
}

/*quebra*/

.quebra {
  background: url("../img/bg-footer.jpg") no-repeat center;
  background-size: cover;
  height: 220px;
  text-align: center;
  padding-top: 50px;
  width: 100%;
}

.quebra .quote-externo {
  max-width: 400px;
}

/*Footer*/
.footer {
  background: #000;
  color: #fff;
  padding: 20px 0;
  width: 100%;
}

.footer h3 {
  color: #fec63e;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 25px;

  text-transform: uppercase;
}
.footer h3::after {
  background: #fec63e;
  content: "";
  display: block;
  height: 3px;
  margin: 6px 0 12px 0;
  width: 60px;
}

.footer-historia {
  padding-right: 40px;
}

.footer-contato ul li {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  line-height: 20px;
}

.footer-redes ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-redes ul li a {
  border: 3px solid #fec63e;
  display: block;
  padding: 10px;
}

.footer-redes ul li a:hover {
  border-color: #fff;
}

.copy {
  background: #fec63e;
  color: #000;
  padding: 20px 0;
  width: 100%;
}
